.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  min-height: 100vh;
  background:
    radial-gradient(circle at center,
      #101820 0%,
      #050505 45%,
      #000 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
}



canvas {
  display: block;
  max-width: 90vmin;
  max-height: 90vmin;
  filter:
    drop-shadow(0 0 25px rgba(0,255,213,0.4))
    drop-shadow(0 0 60px rgba(0,255,213,0.15));
}


button {
  margin-top: 12px;
  padding: 10px 20px;
  background: #00ffd5;
  border: none;
  border-radius: 6px;
  cursor: pointer;
} 
